$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(70%, 70%, 70%);

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 110%;
    background-color: rgb(244, 140, 66);
    margin: 0;
    color: $fontcolor;
}

.nav-bar{
    width: 250px;
    margin-top: 50px;
    padding: 50px;
    font-size: 200%;
    text-align: center;
}
.nav-item {
    background-color: rgba(1,1,1,.5);
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    color: white;
}
a {
    text-decoration: none;
}

.nav-item:hover {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

#tictactoe{
    width: 400px !important;
}

.intro {
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
    margin-top: 100px;
    padding: 50px;
    font-size: 300%;
    color: white;
}

#tictactoe {
    display: block;
    margin: auto;
}


.fullBackground {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.codeGraphicEng {
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
    margin-top: 100px;
    padding: 50px;
    font-size: 120%;
    color: white;
    background-color: rgba(120, 140, 140, .7);
    border-radius: 10px;
}

