$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(70%, 70%, 70%);

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 110%;
  background-color: white;
  color: $fontcolor;
}

.nav-bar{
    width: 100%;
    height: 150px;
}

.content {
    display: flex;
}

.fun {
    border: 1px solid green;
    width: 50%;
    padding: 30px;
}

.intro {
    border: 1px solid green;
    width: 50%;
    padding: 50px;
    font-size: 200%;
}

#tictactoe {
    display: block;
    margin: auto;
}


.fullBackground {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}